@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-white; /* Cara bersih menggunakan Tailwind di CSS */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
  border-radius: 10px;
}

/* app/globals.css */
button:active, a:active {
  transform: scale(0.96);
  opacity: 0.8;
  transition: transform 0.1s ease;
}